body{
    margin: 0;
    padding: 0;
    background-color: #1f2329;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    height: 160px;
    font: sans-serif;
}

.heart{
    height: 70px;
    width: 70px;
    background-color: #1E86DB;
    position: relative;
    box-shadow: 10px 10px 90px #1E86DB;
    animation: animheart .5s linear infinite;
}

.heart::before{
    content:  '';
    position: absolute;
    height:70px;
    width: 70px;
    background-color: #1E86DB;
    box-shadow: 10px 10px 90px #1E86DB;
    top: -50%;
    border-radius: 50%;
}

.heart::after{
    content:  '';
    position: absolute;
    height:70px;
    width: 70px;
    background-color: #1E86DB;
    box-shadow: 10px 10px 90px #1E86DB;
    right: -50%;
    border-radius: 50%;
}
